

<div class="container py-5">
    <div class="row ">
        <div class="col-lg-8">
            <div class="about-desc">
                <h1>i built this website </h1>
                <p class= "text-muted">hope you like it</p>
                <p>
                    i am <span>Mahmoud Muhammed Dessoki.</span>
                    i am a web designer and developer.
                    i buit this website about movies by using angular framework.
                    and based on the <a href="https://www.themoviedb.org/" target="_blank">movie api</a> in this website i used alot of 
                    concepts in anglar like components, pipe,services ,guard and lazyloading.

                    

                </p>


                <div class="contact_me">
                    <h2>Contact_Me : </h2>
                    <ul class="fa-ul">
                        <li class="mb-2">
                            <span class="fa-li">
                                <i class="fas fa-envelope"></i>                            </span>
                            : mahmouddessoki33@gmail.com
                        </li>
                        <li>
                            <span class="fa-li">
                                <i class="fas fa-phone-alt"></i>
                            </span>
                            : 01113709071
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="aboutImg d-flex flex-column justify-content-center py-3 ">
                <img src="assets/images/about.jpeg" alt="" class="d-block w-75">
                <p >oh, it's me</p>
            </div>
        </div>
    </div>
</div>
