.brd
{
    height: 1px;
    background-color: #ccc;
}
.vote
{
    background-color: #09c;
    display: inline-block;
    top: 0px;
    right: 0px;
}
@media screen and (max-width : 767px)
{
    input{
            width : 100% !important;
        }
}
